<div class="my-3">
  <h4>Add a ToDo</h4>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">ToDo Title</label>
      <input
        type="text"
        [(ngModel)]="title"
        name="title"
        class="form-control"
        id="title"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">ToDo Description</label>
      <input
        type="text"
        class="form-control"
        id="desc"
        [(ngModel)]="desc"
        name="desc"
      />
    </div>

    <button type="submit" class="btn btn-sm btn-primary">ADD ToDo</button>
  </form>
</div>
